# Compiled files
*.o
*.out
*.exe
*.class
*.txt
.vscode/
obj/
server
client
server_debug
client_debug
domande_casuali_quiz.md

# Test files
tests/
unity/

# Docs
docs/
Doxyfile
mainpage.dox

# Log files
*.log
logs/

# Temporary files
*.tmp
*.temp
*~

# Project specific backups
*.bak
backup/