# Compiled files
*.o
*.out
*.exe
*.class
.vscode/
obj/
server
client
server_debug
client_debug
domande_casuali_quiz.md

# Log files
*.log
logs/

# Temporary files
*.tmp
*.temp
*~

# Project specific backups
*.bak
backup/